@use '@/styles/helpers' as *;

.wrapper {
  width: 100%;
  max-width: 350px;
  height: fluid(411, 276);
}

.invoice_card {
  display: flex;
  gap: fluid(15, 10);
  flex-direction: column;
  justify-content: space-between;
}

.invice {
  width: 100%;
  height: 45px;
  display: flex;
  gap: 5px;
  // justify-content: space-between;
}

.icon {
  border-radius: fluid(20, 12);
  width: fluid(60, 45);
  max-width: fluid(60, 45);
  height: fluid(60, 45);
  max-height: fluid(60, 45);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  background-color: #dcfaf8;
  & > svg {
    margin: 0 auto;
  }
}

.info {
  overflow: hidden;
  width: 70%;

  > h3 {
    margin: 0;
    @include fluid-text(16, 13);
    font-weight: 500;
    max-width: 100%;
    color: var(--title);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  > p {
    margin: 0;
    @include fluid-text(15, 12);
    color: var(--text-color);
    width: 100%;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.amount {
  margin: 0;
  text-align: end;
  flex-shrink: 0;
  @include fluid-text(16, 13);
  color: var(--text-color);
}
