@use "@/styles/helpers" as *;

.wrapper {
  width: fluid(56, 44);
  height: fluid(30, 24);
  border-radius: 25px;
  background-color: var(--grey);
  display: flex;
  align-items: center;
  padding: 0 3px;
  cursor: pointer;
  transition: background var(--transition);

  & > span {
    display: block;
    width: 48%;
    // height: 87%;
    border-radius: 100px;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    transition: transform 0.15s ease-in;
  }
}

.isActive {
  background-color: var(--light-green);

  & > span {
    transform: translateX(110%);
  }
}

// --light-green
