:root {
  --white: #ffffff;
  --black: #232323;
  --background: #f5f7fa;
  --borderLine: #e6eff5;
  --greyB1: #b1b1b1;
  --primery: #2d60ff;
  --lightBlue: #539bff;
  --text-color: #718ebf;
  --title: #343c6a;
  --green: #41d4a8;
  --red: #ff4b4a;
  --grey: #dfeaf2;
  --light-green: #16dbcc;

  --transition: 0.15s linear;
  --headerHeight: 6.25rem;
}
