/* [project]/src/components/UI/fild/fild.module.scss.module.css [app-client] (css) */
.fild-module-scss-module__u8qaRG__title {
  color: var(--black);
  width: 100%;
  margin: 0 0 7px;
  font-size: 14px;
  font-weight: 400;
}

.fild-module-scss-module__u8qaRG__input {
  background-color: var(--white);
  min-width: 11.25rem;
  max-width: 100%;
  height: clamp(2.5rem, 2.27993rem + .938967vw, 3.125rem);
  transition: border var(--transition);
  border: .0625rem solid #dfeaf2;
  border-radius: 15px;
  align-items: center;
  padding-inline: .9375rem;
  display: flex;
}

.fild-module-scss-module__u8qaRG__input > input {
  width: 97%;
  color: var(--text-color);
  background-color: #0000;
  border: none;
  outline: none;
  font-size: 14px;
}

.fild-module-scss-module__u8qaRG__input > input::placeholder {
  color: var(--text-color);
}

.fild-module-scss-module__u8qaRG__input > .fild-module-scss-module__u8qaRG__avatar {
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  display: flex;
}

.fild-module-scss-module__u8qaRG__input > .fild-module-scss-module__u8qaRG__avatar > input {
  display: none;
}

.fild-module-scss-module__u8qaRG__input > .fild-module-scss-module__u8qaRG__avatar > p {
  color: var(--text-color);
  white-space: nowrap;
  margin: 0;
}

.fild-module-scss-module__u8qaRG__input > .fild-module-scss-module__u8qaRG__avatar :last-child {
  text-overflow: ellipsis;
  max-width: 50%;
  font-size: .75rem;
  overflow: hidden;
}

.fild-module-scss-module__u8qaRG__input:has(input:focus) {
  border-color: var(--text-color);
}

.fild-module-scss-module__u8qaRG__input:has(input:focus) > input::placeholder {
  color: var(--text-color) !important;
}

.fild-module-scss-module__u8qaRG__selector {
  background-color: var(--white);
  height: clamp(2.5rem, 2.27993rem + .938967vw, 3.125rem);
  color: var(--text-color);
  transition: color, background, border var(--transition);
  border: .0625rem solid #dfeaf2;
  border-radius: clamp(.75rem, .683979rem + .28169vw, .9375rem);
  justify-content: center;
  align-items: center;
  padding: 10px clamp(.625rem, .514965rem + .469484vw, .9375rem);
  font-size: clamp(.75rem, .705986rem + .187793vw, .875rem);
  font-weight: 400;
  display: flex;
}

.fild-module-scss-module__u8qaRG__selector:hover {
  border: .0625rem solid var(--text-color);
  color: var(--text-color);
}

.fild-module-scss-module__u8qaRG__selector:has(input:checked) {
  color: var(--white);
  background-color: var(--primery);
  border-color: var(--white);
}

.fild-module-scss-module__u8qaRG__isError {
  border-color: var(--red);
  color: var(--red);
}

.fild-module-scss-module__u8qaRG__error > .fild-module-scss-module__u8qaRG__title, .fild-module-scss-module__u8qaRG__error p {
  color: var(--red);
}

.fild-module-scss-module__u8qaRG__error p {
  margin-top: 5px;
  margin-left: 15px;
  font-size: .875rem;
}

.fild-module-scss-module__u8qaRG__error > .fild-module-scss-module__u8qaRG__input {
  border-color: var(--red);
}

.fild-module-scss-module__u8qaRG__error > .fild-module-scss-module__u8qaRG__input > input::placeholder, .fild-module-scss-module__u8qaRG__error > .fild-module-scss-module__u8qaRG__input > input, .fild-module-scss-module__u8qaRG__error > .fild-module-scss-module__u8qaRG__input > label > p {
  color: var(--red);
}


/* [project]/src/components/screens/authPage/login.module.scss.module.css [app-client] (css) */
.login-module-scss-module__6Ph8Ia__page {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  padding-top: 150px;
  position: fixed;
  top: 0;
  left: 0;
}

.login-module-scss-module__6Ph8Ia__form {
  background-color: var(--white);
  border-radius: 1.25rem;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  min-width: 250px;
  max-width: 420px;
  height: auto;
  margin: 0 auto;
  padding: clamp(2.1875rem, 1.85739rem + 1.40845vw, 3.125rem);
  display: flex;
}

.login-module-scss-module__6Ph8Ia__form > h2 {
  text-align: center;
  color: var(--title);
  margin: 0;
  font-size: clamp(1.25rem, 1.07394rem + .751174vw, 1.75rem);
  font-weight: 600;
}

.login-module-scss-module__6Ph8Ia__form > button {
  align-self: center;
  margin-bottom: 0;
}

.login-module-scss-module__6Ph8Ia__form > p {
  text-align: center;
  color: var(--title);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}


/* [project]/src/components/UI/Button/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__yP-Rqa__button {
  text-align: center;
  background-color: var(--primery);
  color: var(--white);
  border: none;
  border-radius: clamp(.5625rem, .430458rem + .56338vw, .9375rem);
  width: clamp(7.5rem, 6.61972rem + 3.75587vw, 10rem);
  height: clamp(2.5rem, 2.27993rem + .938967vw, 3.125rem);
  margin-bottom: clamp(.625rem, .294894rem + 1.40845vw, 1.5625rem);
}

.Button-module-scss-module__yP-Rqa__disabled {
  background-color: var(--text-color) !important;
}


/* [project]/src/components/UI/Loader/Loader.module.scss.module.css [app-client] (css) */
.Loader-module-scss-module__ae0pTq__loader {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.Loader-module-scss-module__ae0pTq__loader > svg {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  animation: 1s ease-in-out infinite Loader-module-scss-module__ae0pTq__spin;
}

@keyframes Loader-module-scss-module__ae0pTq__spin {
  100% {
    transform: rotate(360deg);
  }
}


/*# sourceMappingURL=src_components_0a785636._.css.map*/