/* [project]/src/app/globals.scss.css [app-client] (css) */
*, :before, :after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body, :where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  border: none;
  margin-left: 0;
  padding: 0;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

input, textarea, select, button {
  font: inherit;
}

html {
  scrollbar-gutter: stable;
  height: 100%;
}

html, :has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button, label {
  cursor: pointer;
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  *, :before, :after {
    scroll-behavior: auto !important;
    transition-duration: .01ms !important;
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
  }
}

@font-face {
  font-family: inter;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: inter;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: inter;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: inter;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: lato;
  src: url("/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: lato;
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #fff;
  --black: #232323;
  --background: #f5f7fa;
  --borderLine: #e6eff5;
  --greyB1: #b1b1b1;
  --primery: #2d60ff;
  --lightBlue: #539bff;
  --text-color: #718ebf;
  --title: #343c6a;
  --green: #41d4a8;
  --red: #ff4b4a;
  --grey: #dfeaf2;
  --light-green: #16dbcc;
  --transition: .15s linear;
  --headerHeight: 6.25rem;
}

body {
  background-color: var(--white);
  max-width: 1440px;
  margin: 0 auto;
  font-family: arial;
  font-weight: 400;
  display: flex;
}

.main {
  width: 100%;
}

h2 {
  color: var(--title);
  margin: 0;
  margin-bottom: max(.75rem, 1.125vw);
  font-size: clamp(1rem, .867958rem + .56338vw, 1.375rem);
  font-weight: 600;
}

#nprogress {
  z-index: 9999 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*# sourceMappingURL=src_app_globals_scss_css_f9ee138c._.single.css.map*/