@use '@/styles/helpers' as *;

.title {
  color: var(--title);
  @include fluid-text(16, 14);
  margin-bottom: rem(5);
}

.title_last {
  margin-top: fluid(15, 10);
}

.button {
  white-space: nowrap;
  width: fluid(170, 150) !important;
  margin-top: fluid(20, 15);
}

.isError {
  color: var(--red);
}
