.button {
  text-align: center;
  background-color: var(--primery);
  border: none;
  color: var(--white);
  width: fluid(160, 120);
  height: fluid(50, 40);
  border-radius: fluid(15, 9);
  margin-bottom: fluid(25, 10);
}

.disabled {
  background-color: var(--text-color) !important;
}
