@use '@/styles/helpers' as *;

.title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 14;
  color: var(--black);
  font-weight: 400;
  width: 100%;
}

.input {
  max-width: 100%;
  background-color: var(--white);
  border: rem(1) solid #dfeaf2;
  border-radius: 15px;
  height: rem(40);
  display: flex;
  align-items: center;
  padding-inline: rem(15);
  min-width: rem(180);
  transition: border var(--transition);

  & > input {
    width: 97%;
    color: var(--text-color);
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 14;

    &::placeholder {
      color: var(--text-color);
    }
  }

  > .avatar {
    > input {
      display: none;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
    > p {
      color: var(--text-color);
      margin: 0;
      white-space: nowrap;
    }

    :last-child {
      font-size: rem(12);
      max-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:has(input:focus) {
    border-color: var(--text-color);
    & > input::placeholder {
      color: var(--text-color) !important;
    }
  }
}

.selector {
  background-color: var(--white);
  border: rem(1) solid #dfeaf2;
  border-radius: fluid(15, 12);
  height: fluid(40, 30);
  padding: 10px fluid(15, 10);
  color: var(--text-color);
  @include fluid-text(14, 12);
  font-weight: 400;
  transition:
    color,
    background,
    border var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border: rem(1) solid var(--text-color);
    color: var(--text-color);
  }
}

.selector:has(input:checked) {
  color: var(--white);
  background-color: var(--primery);
  border-color: var(--white);
}

.isError {
  border-color: var(--red);
  color: var(--red);
}

.error {
  & > .title,
  p {
    color: var(--red);
  }

  p {
    margin-top: 5px;
    margin-left: 15px;
    font-size: rem(14);
  }

  & > .input {
    border-color: var(--red);

    & > input::placeholder {
      color: var(--red);
    }

    & > input {
      color: var(--red);
    }

    & > label > p {
      color: var(--red);
    }
  }
}
