@use '@/styles/helpers' as *;

.wrraper {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: rem(5);
  justify-content: center;
  align-items: center;

  > h3 {
    color: var(--title);
    margin: 0;
    margin-right: rem(90);
    flex-grow: 1;
    text-align: center;
  }

  > button {
    display: contents;
    border: none;
    color: var(--text-color);
    background: none;
    cursor: pointer;
    white-space: nowrap;
  }
}

.form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: rem(7);

  & > div {
    width: 100%;
    margin: 0 auto;
  }

  > button {
    border: none;
    color: white;
    background-color: var(--primery);
    width: 50%;
    margin: 0 auto;
    border-radius: rem(12);
    height: rem(30);

    cursor: pointer;
    white-space: nowrap;
  }
}

.input {
  height: rem(35);
}
